@model RecipeDetailsModel

<div class="alert">
    <alerts></alerts>
</div>
<div class="row text-center text-details">
    <div class="col-md-8">
        <div>
            <img src="~/uploads/@Model.ImageUrl" class="detailsImage" />
        </div>
        <h1 class="text-lg-center text-uppercase title">
            @Model.Name
        </h1>
        <h3 class="description">
            @Model.Description
        </h3>
        <div>
            <span class="text-details-small">Preparation Time: @Model.PrepTime minutes / </span>
            <span class="text-details-small">Cooking Time: @Model.CookingTime minutes</span>
        </div>
        <div class="text-center">
            <b>Ingredients: </b>
            <div>
                @foreach (var i in Model.Ingredients)
            {
                    <p>@i.Quantity @i.Measurement @i.Name</p>
                }
            </div>
        </div>
        <div>
            <p><b>Instructions: </b></p>
            <p>@Model.Preparation</p>
        </div>
        <div class="text-details-small">Added On: @Model.AddedOn</div>
        <div class="text-details-small">Course: @Model.Course</div>
        <div class="text-details-small">Category: @Model.Category</div>

        <br />
        @if (Model.Author == User.Identity.Name || User.IsInRole(GlobalConstants.AdministratorRole))
        {
            <div>
                <a href="/Recipes/Edit/@Model.Id" class="btn btn-primary">Edit</a>
                @Html.ActionLink("Delete", "Delete", "Recipes", new { Id = Model.Id }, new { onclick = "return confirm('Are you sure?');", @class = "btn btn-danger"})
            </div>
        }
        else
        {
            if (User.Identity.IsAuthenticated)
            {
                if (Model.IsSavedByCurrentUser)
                {
                    <a href="/Users/Remove/@Model.Id" class="btn btn-warning">Remove From Saved</a>
                }
                else
                {
                    <a href="/Users/Save/@Model.Id" class="btn btn-warning">Save Recipe</a>
                }
            }
        }
    </div>
</div>
